
{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'tasks' %}" >&#8592; Back</a>
    <div style="margin-bottom: 30px; ">
        <h2 style="margin-top:0">{{task}}</h2>
    </div>
</div>


<div class="card-body" style="background-color:#222831;">
    <h3>Description:</h3>
    <h4>{{task.description}}</h4>
    <h3 style="display:inline-block;">Status: </h3>
    {% if task.complete %}
        <h4 style="display:inline-block; color:rgb(38, 219, 38)">Completed</h4> 
    {% else %}
        <h4 style="display:inline-block; color:#F05454;">Incomplete</h4>
    {% endif %} 
    <h3 style="text-align: right;">Created at</h3>
    <h4 style="text-align: right;">{{task.created}}</h4>
</div>


{% endblock content %}